{% extends 'base.html' %}
{% block title %}Ventas{% endblock %}
{% block content %}
<h2>Dashboard de Ventas</h2>
{% include "partials/header.html" %}
<a href="{% url 'crear-cliente' %}" class="btn btn-success mb-3">+ Nuevo Cliente</a>
<a href="{% url 'default-dashboard' %}" class="btn btn-outline-info mb-3">Inicio</a>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Documento</th>
      <th>Tiene Contrato Activo</th>
      <th>Vehículo Asociado</th>
    </tr>
  </thead>
  <tbody>
    {% for client in object_list %}
    <tr>
      <td>{{ client.first_name }} {{ client.last_name }}</td>
      <td>{{ client.document_number }}</td>
      {% if client.active_contracts %}
        {% for contract in client.active_contracts %}
        <td> Si </td>
        <td>{{ contract.vehicle.brand }} - {{ contract.vehicle.model }} - {{ contract.vehicle.plate }}</td>
        {% endfor %}
      {% else %}
      <td> No </td>
      <td> - </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "partials/navbar.html"  %}
{% endblock %}
