{% extends 'base.html' %}
{% block title %}Formulario Vehículo{% endblock %}
{% block content %}

<h2>{{ view.object.pk|yesno:"Editar Vehículo,Nuevo Vehículo" }}</h2>

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="mb-3">
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-success">Guardar</button>
  <a href="{% url 'operaciones-dashboard' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
