{% extends 'base.html' %}
{% block title %}Dashboard Operaciones{% endblock %}
{% block content %}
{% include "partials/header.html" %}
<h2>Vehículos</h2>

<a href="{% url 'crear-vehiculo' %}" class="btn btn-primary mb-3">+ Nuevo Vehículo</a>
<a href="{% url 'default-dashboard' %}" class="btn btn-outline-info mb-3">Inicio</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Placa</th>
      <th>VIN</th>
      <th>Contrato Activo</th>
      <th>Última Fecha de Contrato</th>
      <th>Días desde esa Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for vehicle in object_list %}
    <tr>
      <td>{{ vehicle.brand }}</td>
      <td>{{ vehicle.model }}</td>
      <td>{{ vehicle.plate }}</td>
      <td>{{ vehicle.vin |default:"—" }}</td>
      <td>{% if vehicle.tiene_contrato_activo %}Sí{% else %}No{% endif %}</td>
      <td>{{ vehicle.ultima_fecha_fin|default:"—" }}</td>
      <td>{% if vehicle.dias_desde_ultimo %}{{ vehicle.dias_desde_ultimo }} días{% else %}—{% endif %}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No hay vehículos registrados.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% include "partials/navbar.html"  %}
{% endblock %}
